<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
   <script>
    AOS.init();
   </script>
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
</head>

<body>
      <footer class="bg-info pt-5 pb-5 " >
          <div class="container-fluid">
        <div class="row  text-md-start">
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold text-white">Help Center</h5>
            <p class="text-uppercase mb-4 fw-bold text-white">Terms & Conditions</p>
            <p class="text-uppercase mb-4 fw-bold text-white">Privacy Policy</p>
            
            <p class="text-uppercase mb-4 fw-bold text-white">Cancellation Policy</p>
            <p class="text-uppercase mb-4 fw-bold text-white">Return Upon Delivery Position</p>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold text-white">Follow Us</h5>
            <img src="img/facebook.png" class="card-img-top w-25 h-25" alt="...">
            <img src="img/twitter.png" class="card-img-top w-25 h-25" alt="..."><p></p>
            <img src="img/youtube.png" class="card-img-top w-25 h-25" alt="...">
            <img src="img/telegram.png" class="card-img-top w-25 h-25" alt="...">
            
            
  
          </div>
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold text-white">Contact Info</h5>
       
            <div class="d-flex">
              <i class="bi bi-telephone-fill"></i>
              <p>Contact:09772987659</p>
          </div><hr/>
          <div class="d-flex">
              <i class="bi bi-envelope-at"></i>
              <p>Email:chitsulay909@gmail.com</p>
          </div><hr/>

          <div class="d-flex">
              <i class="bi bi-browser-chrome"></i>
              <p>Website:www.goole.com</p>
          </div>
           
  
          </div>
  
        </div>
        </div>
       </footer>
        
</body>
</html>