<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/bootstrap-5.2.3-dist/css/bootstrap.min.css" type="text/css">
<script src="/bootstrap-5.2.3-dist/js/bootstrap.min.js">
 </script>
</head>
<body>
<div th:replace="fragments/header"></div>
	<div class="container">
	
		<main>
			<h1>You are NOT authorised to view this page!</h1>
			
		</main>
	
	<div th:replace="fragments/footer"></div>
	
	</div>



</body>
</html>