
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulips Online Shop</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap-5.2.3-dist/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="/bootstrap-5.2.3-dist/js/bootstrap.min.js">
 </script>
</head>
<body>
<div th:replace="fragments/header"></div>



<!--     <div class="container-fluid about">
     <div class="row ">
     <div class="w-1000 h-500">
  <div class="col-md-6 py-md-0">
    <div class="card">
      <img src="img/about1.webp" class="card-img-top" width="200px" height="300px" alt="...">
            
     </div>
  </div>
  <div class="col-md-6 py-md-0">
    
        <h5 class="card-title">We are the UK’s leading and highest reviewed online florist</h5>
            <br><br>
        <p class="card-text">Recently awarded the Ethical Company Award scoring 100/100, we are proud to be one of the UK’s most sustainable florists.As one of the UK's leading florists, we are proud to support our British growers who are a major contributor to the industry and production of fresh cut flowers across the UK</p>
      </div>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
          <div class="card-body">
        <h5 class="card-title">For over a decade we have specialised in sending smiles across the world</h5>
        <br>
        <p class="card-text">Having delivered over 8 million fresh bouquets to happy recipients. Helping customers celebrate special birthdays, anniversaries or milestone moments and everything in between. As one of the UK's leading florists, we are proud to support our British growers who are a major contributor to the industry and production of fresh cut flowers across the UK.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/about-2.webp" class="card-img-top" width="200px" height="300px"alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/about-3.webp" class="card-img-top"width="200px" height="300px" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card">
          <div class="card-body">
        <h5 class="card-title">We are the first to give customers the option to make their bouquet extra personal</h5>
        <br>
        <p class="card-text">With our new video and voice messaging function, allowing you to send your flowers your way. With so many happy customers trusting Prestige Flowers, we pride ourselves on adding those personal touches and understanding the gesture behind every bouquet. We ensure all our customers are happy with a 100% satisfaction guarantee.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
          <div class="card-body">
        <h5 class="card-title">We believe a happy flower footprint makes a happy flower, which is why we work with only the best flower farms who share our same ethos</h5>
        <br>
        <p class="card-text">From British grown seasonal stems to exotic varieties, we ensure all the operations from bud to delivery are ethical and sustainable. We are proud to support major charities across the UK including Cancer Research UK and Barnardo’s, helping the most disadvantaged children and families.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/about-4.webp" class="card-img-top" width="200px" height="300px"alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/about-5.webp" class="card-img-top" width="200px" height="300px"alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card">
          <div class="card-body">
        <h5 class="card-title">We offer a delightful range of subscription services</h5>
        <br>
        <p class="card-text">Whether you are gifting to loved ones or just want to keep your home beautiful by frequently receiving fresh flowers. Our subscription services start from just £20 a month and are one of the very best. We are more than just flowers, we offer a wonderful and wide range of plants, gift hampers and gifts all year round. Whether you are sending a delightful Christmas hamper to your family.</p>
      </div>
    </div>
  </div>
</div>
</div> -->



<h2 class="text-center">About Prestige Flowers</h2>
<div class="container-fluid justify-content-center align-items-center ">
<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="img/about1.webp" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">We are the UK’s leading and highest reviewed online florist</h5>
        <p class="card-text">Recently awarded the Ethical Company Award scoring 100/100, we are proud to be one of the UK’s most sustainable florists.As one of the UK's leading florists, we are proud to support our British growers who are a major contributor to the industry and production of fresh cut flowers across the UK</p>
        
      </div>
    </div>
  </div>
</div>



<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <h5 class="card-title">We are the UK’s leading and highest reviewed online florist</h5>
        <p class="card-text">Recently awarded the Ethical Company Award scoring 100/100, we are proud to be one of the UK’s most sustainable florists.As one of the UK's leading florists, we are proud to support our British growers who are a major contributor to the industry and production of fresh cut flowers across the UK</p>
     
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <img src="img/about-2.webp" class="img-fluid rounded-start" alt="...">
                
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="img/about-3.webp" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">We are the UK’s leading and highest reviewed online florist</h5>
        <p class="card-text">Recently awarded the Ethical Company Award scoring 100/100, we are proud to be one of the UK’s most sustainable florists.As one of the UK's leading florists, we are proud to support our British growers who are a major contributor to the industry and production of fresh cut flowers across the UK</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <h5 class="card-title">We are the UK’s leading and highest reviewed online florist</h5>
        <p class="card-text">Recently awarded the Ethical Company Award scoring 100/100, we are proud to be one of the UK’s most sustainable florists.As one of the UK's leading florists, we are proud to support our British growers who are a major contributor to the industry and production of fresh cut flowers across the UK</p>
     
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <img src="img/about-4.webp" class="img-fluid rounded-start" alt="...">
                
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="img/about-5.webp" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">We are the UK’s leading and highest reviewed online florist</h5>
        <p class="card-text">Recently awarded the Ethical Company Award scoring 100/100, we are proud to be one of the UK’s most sustainable florists.As one of the UK's leading florists, we are proud to support our British growers who are a major contributor to the industry and production of fresh cut flowers across the UK</p>
        
      </div>
    </div>
  </div>
</div>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>